<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="icofont.css">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ART THERAPY</title>
<body>
<header>
    <a href="#" class="logo"><img src="./images/logo_2.png" alt=""></a>
    <div class="menuToggle" onclick="toggleMenu();"></div>
    <ul class="navbar">
        <li><a href="#banniere" onclick="toggleMenu();">Home</a></li>
        <li><a href="#apropos" onclick="toggleMenu();">About</a></li>
        <li><a href="#menu" onclick="toggleMenu();">Lessons</a></li>
        <li><a href="#event" onclick="toggleMenu();">Events</a></li>
        <li><a href="#expert" onclick="toggleMenu();">Our Art thearpists</a></li>
        <li><a href="#temoignage" onclick="toggleMenu();">Temoignage</a></li>
        <li><a href="#Oeuvres" onclick="toggleMenu();">Oeuvres</a></li>
        <li><a href="#contact" onclick="toggleMenu();">Contact</a></li>
        <li><a href="#donation" onclick="toggleMenu();">Donation</a></li>
        <li><a href="#signup" onclick="toggleMenu();">SignUp</a></li>
        <a href="#login" class="btn-reserve"onclick="toggleMenu();">Login</a>
    </ul>
</header>
<section class="banniere" id="banniere">
    <div class="contenu">
        <h2>Discover the transformative power of creativity, healing, and self-expression through the art of therapy.</h2>
    </div>
</section>


 <section>
    <div class="Oeuvres" id="Oeuvres">
      <div class="container">
        <div class="titre">
            <h2 class="titre-texte">Our <span>A</span>rt Pieces</h2>
            <p>Here's just a glimpse of our clients's Work</p>
        </div>
            <table>
                <tr>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres1.jpg" alt="Picture 1">
                            <p>Prenom : Yassine</p>
                            <p>Nom : Hamlaoui</p>
                            <p>Ref : 1</p>
                            <p>Categorie : Sculpture</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres2.jpg" alt="Picture 2">
                            <p>Nom : Bechir</p>
                            <p>Prenom : Mejri</p>
                            <p>Ref : 2</p>
                            <p>Categorie : Sculpture</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres3.jpg" alt="Picture 3">
                            <p>Nom : Hejer</p>
                            <p>Prenom : Ayedi</p>
                            <p>Ref : 3</p>
                            <p>Categorie : Peinture</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres4.jpg" alt="Picture 4">
                            <p>Nom : Rayen</p>
                            <p>Prenom : Ghrairi</p>
                            <p>Ref : 4</p>
                            <p>Categorie : Danse</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres5.jpeg" alt="Picture 5">
                            <p>Nom : Youssef</p>
                            <p>Prenom : Tarhouni</p>
                            <p>Ref : 5</p>
                            <p>Categorie : Peinture</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres6.jpeg" alt="Picture 6">
                            <p>Nom : Mayssem</p>
                            <p>Prenom : Laalai</p>
                            <p>Ref : 6</p>
                            <p>Categorie : Dessin</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres7.jpg" alt="Picture 7">
                            <p>Nom : Khalil</p>
                            <p>Prenom : Maaref</p>
                            <p>Ref : 7</p>
                            <p>Categorie : Peinture</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src= "./images/oeuvres8.jpg" alt="Picture 8">
                            <p>Nom : Ali</p>
                            <p>Prenom : Belhajali</p>
                            <p>Ref : 8</p>
                            <p>Categorie : Dessin</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres9.jpg" alt="Picture 9">
                            <p>Nom : Aly</p>
                            <p>Prenom : Farhat</p>
                            <p>Ref : 9</p>
                            <p>Categorie : Sculpture</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                        <img src="./images/oeuvres10.jpg" alt="Picture 10">
                        <p>Nom : kenza</p>
                        <p>Prenom : Chtioui</p>
                        <p>Ref : 10</p>
                        <p>Categorie : Dessin</p>
                        </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres11.jpg" alt="Picture 11">
                            <p>Prenom : Mehdi</p>
                            <p>Nom : Gallali</p>
                            <p>Ref : 11</p>
                            <p>Categorie : Poterie</p>
                            </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres12.jpeg" alt="Picture 12">
                            <p>Prenom : Fatma</p>
                            <p>Nom : Zaanouni</p>
                            <p>Ref : 12</p>
                            <p>Categorie : Danse</p>
                            </div>
                    </th>
                    <th>
                        <div class="imbox">
                            <img src="./images/oeuvres13.jpeg" alt="Picture 13">
                            <p>Prenom : Alia</p>
                            <p>Nom : Chebil</p>
                            <p>Ref : 13</p>
                            <p>Categorie : Peinture</p>
                            </div>
                    </th>
                    
                </tr>
            </table>
    </div>
    </div>
 </section>


<div class="single-footer">
</div>
 <script type="text/javascript">
     window.addEventListener('scroll', function(){
         const header =document.querySelector('header');
         header.classList.toggle("sticky", window.scrollY > 0 );
     });

     function toggleMenu(){
         const tmenuToggle = document.querySelector('.menuToggle');
         const navbar = document.querySelector('.navbar');
         navbar.classList.toggle('active');
         menuToggle.classList.toggle('active');

     }
 </script>
 <script src="main.js"></script>
</body>
</html>