<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list_event</title>
    <li><a href = "listevent.html" >details </a></li>
</head>
<body>
    <table border="1" align="center" width="70%">
        <tr>
            <th>Id event</th>
            <th>nom event</th>
            <th>description</th>
            <th>date</th>
            <th>lieu</th>
            <th>heuredebut</th>
            <th>heurefin</th>
            <th>capacite</th>
            <th>type</th>
            <th>images</th>
        </tr>
    </table>
    
    
</body>
</html>
